@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

body {
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
    sans-serif;

  /* 
    アンチエイリアス処理 文字がすっきりして見える...らしい
    https://qiita.com/htomine/items/3086f30ca09adea2f8e0
  */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
